@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply font-Inter;
}
:root {
  /* Color */
  --vc-clr-primary: #000;
  --vc-clr-secondary: #090f207f;
  --vc-clr-white: #ffffff;

  /* Icon */
  --vc-icn-width: 1.2em;

  /* Navigation */
  --vc-nav-width: 30px;
  --vc-nav-height: 30px;
  --vc-nav-border-radius: 0;
  --vc-nav-color: var(--vc-clr-primary);
  --vc-nav-color-hover: var(--vc-clr-secondary);
  --vc-nav-background: transparent;

  /* Pagination */
  --vc-pgn-width: 12px;
  --vc-pgn-height: 4px;
  --vc-pgn-margin: 4px;
  --vc-pgn-border-radius: 0;
  --vc-pgn-background-color: var(--vc-clr-secondary);
  --vc-pgn-active-color: var(--vc-clr-primary);
}
.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  background: var(--vc-nav-background);
  border-radius: var(--vc-nav-border-radius);
  width: var(--vc-nav-width);
  height: var(--vc-nav-height);
  text-align: center;
  font-size: var(--vc-nav-height);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__prev:hover,
.carousel__next:hover {
  color: var(--vc-nav-color-hover);
}

.carousel__next--disabled,
.carousel__prev--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel--rtl .carousel__prev {
  left: auto;
  right: 0;
}

.carousel--rtl .carousel__next {
  right: auto;
  left: 0;
}
.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  padding: 0 !important;
  position: relative;
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.carousel__icon {
  width: var(--vc-icn-width);
  height: var(--vc-icn-width);
  fill: currentColor;
}
.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 0;
  margin: 10px 0 0;
}

.carousel__pagination-button {
  display: block;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: var(--vc-pgn-margin);
  background: transparent;
}

.carousel__pagination-button::after {
  display: block;
  content: "";
  width: var(--vc-pgn-width);
  height: var(--vc-pgn-height);
  border-radius: var(--vc-pgn-border-radius);
  background-color: var(--vc-pgn-background-color);
}

.carousel__pagination-button:hover::after,
.carousel__pagination-button--active::after {
  background-color: var(--vc-pgn-active-color);
}
.carousel__slide {
  scroll-snap-stop: auto;
  flex-shrink: 0;
  margin: 0;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}

.carousel__pagination {
  transform: translateY(-50%);
  padding-bottom: 100px;
}
.carousel__pagination-button {
  @apply bg-darkContThird;
  border-radius: 50%;
  transform: scaleY(0.8) scaleX(0.5);

  &:hover {
    @apply bg-contComplement;
    transition: 0.2s all ease-in;
  }
}
.carousel__pagination-button:hover::after {
  @apply bg-contComplement;
  transition: 0.2s all ease-in;
}
.carousel__pagination-button::after {
  @apply bg-darkContThird;
  border-radius: 50%;
  &:hover {
    @apply bg-contComplement;
    transition: 0.2s all ease-in;
  }
}
.carousel__pagination-button--active {
  @apply bg-contComplement;
  transform: scaleY(0.8) scaleX(0.5);

  border-radius: 50%;
}
.carousel__pagination-button--active::after {
  @apply bg-contComplement;

  border-radius: 50%;
}
.carousel__pagination-item {
  width: 0.8rem;
}
.navigation-testimonies {
  @apply bg-transparent text-darkContText;
  &:hover {
    @apply bg-transparent text-darkContText;
  }
}

.results-navigation {
  @apply bg-transparent text-darkBg pt-4 dark:text-darkContText;
  box-sizing: content-box;

  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 50px;
  bottom: 0%;
  top: 100%;

  &:hover {
    @apply bg-transparent text-darkBg dark:text-darkContText;
  }
}

.results-pagination {
  transform: translateY(50%);
  padding-bottom: 0;
  padding-top: 20px;
}

.section-step-layout {
  @apply flex flex-col justify-between  h-full pt-16 pb-4 px-4 text-black;
}
.input-basic-info {
  @apply w-full text-black bg-transparent border-t-0 border-x-0 border-b-2 border-black placeholder:text-contInactive placeholder:font-bold;
}

.label-basic-info {
  @apply absolute bottom-4 left-2 text-contInactive font-bold pointer-events-none;
}
.table {
  @apply w-full px-8 mx-8;
}

.table-head {
  @apply bg-contAccent rounded-lg;
}

.table-row {
  @apply flex items-center gap-8;
}

.table-header {
  @apply font-semibold py-4 sticky left-0 bg-contAccent px-5;
}
th {
  @apply px-5;
}
.table-body {
  @apply bg-darkContSecond;
}

.table-data {
  @apply border border-[#454545] flex items-center  gap-8;
}

.table-data-cell {
  @apply flex flex-col items-center text-center gap-2 py-4 px-4 sticky left-0 bg-darkContSecond;
}

.table-data-cell-img {
  @apply rounded-full object-cover h-12 w-12;
}

.table-data-cell-link {
  @apply text-Captionlg font-semibold text-darkContThird;
}

.table-data-cell-name {
  @apply font-semibold;
}
.header-table {
  @apply font-bold text-center text-Heading2sm my-12;
}
